DB_HOST=localhost
DB_PORT=6543
DB_NAME=pwl_uas
DB_USER=pwl_user
DB_PASSWORD=secret

FRONTEND_URL=http://localhost:5173

JWT_SECRET=change-this-to-a-long-random-secret-in-production
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800
